<div class="w-100 h-100">
    <h2>Ganar musculatura</h2>
   
    <div *ngIf="!nivelSeleccionado; else video" class="d-flex flex-column">
        <img class="img-fluid mb-3" src="https://imageresizer.static9.net.au/3d4o9c3c-6YVSSSM96IWp2AmlbE=/600x338/smart/https%3A%2F%2Fprod.static9.net.au%2F_%2Fmedia%2FNetwork%2FImages%2F2018%2F07%2F07%2F13%2F08%2F180707_coach_bicep.jpg">
        <button (click)="nivelSeleccionado = nivel" *ngFor="let nivel of niveles" class="btn btn-primary mb-2">
            Nivel {{nivel.numero}}
        </button>

        <button routerLink="../selector" class="btn btn-secondary mt-2">Atrás</button>
    </div>

    <ng-template #video>
        <h4>Nivel {{nivelSeleccionado.numero}}</h4>
        <iframe src="https://www.youtube.com/embed/JW1ctXVM4og"></iframe>
        <button (click)="nivelSeleccionado = null" class="btn btn-secondary mt-3">Atrás</button>
        
    </ng-template>

</div>
