<div class="w-100 h-100">
    <h2>Ganar resistencia</h2>
   
    <div *ngIf="!nivelSeleccionado; else video" class="d-flex flex-column">
        <img class="img-fluid mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQO5IyKqCf2jD2Y8hl1C0CQ_uX6f_KT121ubA&usqp=CAU">
        <button (click)="nivelSeleccionado = nivel" *ngFor="let nivel of niveles" class="btn btn-primary mb-2">
            Nivel {{nivel.numero}}
        </button>

        <button routerLink="../selector" class="btn btn-secondary mt-2">Atrás</button>
    </div>

    <ng-template #video>
        <h4>Nivel {{nivelSeleccionado.numero}}</h4>
        <iframe [src]="nivelSeleccionado.videoUrl | safe"></iframe>
        <button (click)="nivelSeleccionado = null" class="btn btn-secondary mt-3">Atrás</button>
        
    </ng-template>

</div>
