.img-wrapper {
    overflow-y: hidden!important;
    height: 180px!important;
    margin-bottom: 10px;
}

body {
    background: rgb(247, 247, 247)!important
}

* {
    font-family: 'Titillium Web', sans-serif;
    /* color: white; */
}

p, b {
    font-size: 20px;
}

h4 {
    color: rgb(19, 120, 214);
    font-weight: 700!important;
}

iframe {
    width: 100%;
    height: auto;
}