.img-wrapper {
    overflow-y: hidden!important;
    height: 180px!important;
    margin-bottom: 10px;
}
/* 
body {
    background: rgb(25, 87, 153);
    background: linear-gradient(0deg, rgba(25, 87, 153, 1) 0%, rgba(32, 134, 188, 1) 100%);
} */

* {
    font-family: 'Titillium Web', sans-serif;
    /* color: white; */
}

p, b {
    font-size: 20px;
}

h4 {
    color: rgb(19, 120, 214);
    font-weight: 700!important;
}

iframe {
    width: 100%;
    height: auto;
}